* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}

/*///////////////////////////////////////////////////////*/

.layout {
  max-width: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  background: #f6f7f9;
}

/* HEADER //////////////////////////////////////////////*/

.header {
  grid-area: header;
  background: white;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: red;

  width: 100%;

  background: #223026;
  background: linear-gradient(to right, #1b251e, #223026);
  background: #40587c;
}

.header__nombre {
  margin-left: 15px;
  font-size: 5rem;
  color: white;
  font-style: normal;
  font-weight: 500;
}

/*ESTILOS PARA EL CONTENIDO PRINCIPAL*/

.contenedor-secciones{
  display: flex;
  /* background-color: #1a30bb; */
  flex-grow: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 3rem;
  padding: 3rem 2rem;
  /* background: lightgreen; */
  flex-grow: 1;
}

.peli-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(142, 142, 142, 0.2);
  min-width: 350px;
  width: max-content;
  min-height: 160px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 250px;
  flex-grow: 1;
  /* background: rgb(208, 211, 35); */
  /* background: #8ecadc; */
}

.peli-item .title{
  font-size: 2rem;
  text-align: center;
}
.peli-item .description{
  padding: 1.8rem 0;
  text-align: center;
}
.peli-item .contenedor-botones{
  display: flex;
  justify-content: center;
  gap: 2rem;
}


button,
input[type='submit'],
input[type='button'] {
  width: 100px;
  color: white;
  padding: 15px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: #4052ab;
  margin-top: 2rem;
}

.peli-item .edit:hover {
  background: #e77b00;
  background: #ca5010;
}

.peli-item .delete:hover {
  background: #9b0202;
  background: #a4262c;
}

/*ASIDE /////////////////////////////////////////7*/

.lateral {
  grid-area: lateral;
  border-left: 1px solid #223026;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  min-width: 350px;
  overflow: hidden;
  /* background: violet; */
  width: 30%;
}

.lateral > div {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  /* box-shadow: 0px 0px 6px #ddd; */
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(142, 142, 142, 0.2);
}

.lateral > div input[type=submit]{
  margin-top: 2rem;
}
.lateral > div input[type=submit]:hover{
  background: #407855;
}

.lateral input[type='text'],
.lateral textarea,
.edit_form input[type='text'],
.edit_form textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  background: #4168641d;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  width: 100%;
}

.edit_form form,
.lateral form,
.seacrh form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lateral h3{
  text-align: center;
}


.lateral #search:hover{
  background: #407855;
}

/* EDITAR */
.edit_form {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 3rem;
}

.edit_form input{
  margin-top: 2rem;
}

.edit_form input[type=submit]:hover{
  background: #407855;
}

/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer {
  grid-area: footer;

  color: #454545;
  /* border-top: 1px solid white; */
  text-align: center;
  line-height: 68px;
  padding-left: 25px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  background: linear-gradient(to right, #1b251e, #223026);
  background: #40587c;
  font-weight: 400;
}

.footer a {
  color: #6aa3b4;
  text-decoration: none;
  color: #a1c4ff;
  font-weight: 500;
}

/* AGREAGADOS POR MI */
.add{
  overflow: hidden;
}
.aviso{
  color: white;
  background: rgb(226, 250, 230);
  color: rgb(39, 124, 44);
  padding: 1.5rem .5rem;
  animation: crecer 0.5s both;
  margin-top: 1.5rem;
  border-radius: .5rem;
  text-align: center;
}

.aviso__rojo{
  background: rgb(250, 226, 226);
  color: rgb(124, 39, 39);
}

textarea{
  resize: vertical;
}

@keyframes crecer {
  from{
    transform: translateX(300px);
    opacity: 0;
  }

  to{
    transform: translateX(0px);
    opacity: 1;
  }
}


.aviso-no-hay{
  margin-left: 2rem;
}