:root{
  --primario: #40587c;
  --secundario: lightblue;
  --terciario: #a2aebf;
  --cuaternario: #d0d3d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%; 
}
ul,
ol {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}
/* HEADER /////////////////////////////////////*/
.header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1rem 1rem 1.5rem;

  background: var(--primario);
  /* background: blue; */
  gap: 1rem;

  /* flex-wrap: wrap; */
}
.header__logo{
  /* background-color: rgb(225, 53, 53); */
  text-align: center;
}
.header__nombre {
  color: white;
  font-size: 2.5rem;
  font-size: 3rem;
  font-weight: 500;
}
/*MAIN////////////////////////////////////////*/
.main{
  flex-grow: 1;
}

/*FOOTER////////////////////////////////////////*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 2.5rem .5rem;
  color: black;
  padding: 2rem 0 4rem;
}
.footer .link {
  font-weight: 500;
}
/*////////////////////////////////////////*/
.caja-buscador{
  background: var(--primario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* padding: .5rem 1.5rem 1.5rem; */

  /* background-color: greenyellow; */
  /* width: max-content; */
  min-width: 200px;
  max-width: 100%;
}







.caja-buscador form{
  border-radius: 1rem;
  display: flex;
  width: 100%;
  max-width: 450px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.caja-buscador input{
  flex-grow: 1;
  border-radius: 1rem 0 0 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  min-width: 50px;
}
.caja-buscador button{
  width: 100px;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem;
  background: var(--cuaternario);
}
.caja-buscador button:hover{
  background: var(--terciario);
}


/* ////////////////////////////////////// */
.contenedor-peliculas{
  /* background-color: green; */
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.pelicula{
  background: var(--secundario);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  justify-content: space-between;
  flex-grow: 1;

  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */

}
.pelicula--seleccionado{
  background: var(--terciario);
}
.pelicula--invisible{
  opacity: 0;
}

.pelicula__titulo{
  /* background-color: yellow; */
  padding: .5rem 0;
  font-size: 2rem;
  text-align: center;
}
.pelicula__titulo::first-letter{
  text-transform: uppercase;
}
.pelicula__descripcion{
  /* background: violet; */
  text-align: center;
  flex-grow: 1;
}
.pelicula__botones{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 1rem;
}
.pelicula__boton{
  border: 0;
  padding: 0.7rem 2rem;
  border-radius: .5rem;
  transition: 300ms;
  background: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  /* background: #40587c;
  color: white; */
}
.pelicula__boton:hover{
  background: var(--primario);
  color: white;
}

/* SECCION AGREGAR ///////////////*/

.contenedor-agregar{
  padding: 1.5rem;
  border-radius: .5rem;
  position: fixed;
  bottom: 15px;
  right: 10px;
  transition: 200ms;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primario);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.contenedor-agregar--activo{
  background: var(--primario);
  border-radius: 0;
  border-radius: 1rem;
  padding: 2rem 2rem 3rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.237);
  width: max-content;
  height: 465px;
  width: 300px;

  /* width: 400px;  */
}
.contenedor-agregar i{
  font-size: 2.5rem;
  color: white;
}
.agregar__titulo{
  font-size: 2.5rem;
  /* font-size: 3rem; */
  text-align: center;
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: white;
}
.agregar__formulario{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}
.agregar__input{
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  min-height: 45px;
  width: 100%;
}
.agregar__input[type=submit]{
  margin-top: 1rem;
  background: var(--cuaternario);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.agregar__input[type=submit]:hover{
  background: var(--terciario);
}
textarea.agregar__input{
  min-height: 220px;
  resize: none;
  height: max-content;
}

.contenedor-agregar .icono-cerrar{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 2.5rem;
  transition: 200ms;
}
.contenedor-agregar .icono-cerrar:hover{
  color: lightgrey;
}

/* SECCION EDITAR */
.editar__article{
  /* background-color: blue; */
  background-color: transparent;
  position: fixed;
  width: 1800px;
  height: 1800px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.contenedor-editar{
  background: var(--primario);
  /* position: fixed; */
  padding: 2.5rem 3rem 3rem;
  padding: 2.5rem 1.5rem 3rem;
  border-radius: 1rem;

  width: 300px;
  height: max-content;
  top: calc(50% - 190px);
  left: calc(50% - 150px);

  transition: 300ms;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.editar__titulo{
  font-size: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  /* background-color: violet; */
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}
.editar__fomulario{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.editar__fomulario input,
.editar__fomulario textarea{
  /* background: greenyellow; */
  padding: 1.5rem;
  border-radius: .5rem;
  border: none;
  outline: none;
}
.editar__fomulario textarea{
  height: 200px;
  resize: none;
}

.editar__boton-listo{
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.editar__boton-listo:hover{
  background-color: lightgrey;
}


@media (min-width: 550px) {
  /* HEADER */
  .header{
    padding: 1rem 3rem 2.5rem;
  }
  .header__nombre {
    font-size: 4rem;
    font-size: 4.5rem;
  }

  /* BUSCADOR */
  .caja-buscador{
    /* padding: 1rem 3rem 3rem; */
  }
  .caja-buscador input{
    padding: 1rem 3rem;
  }
  .caja-buscador button{
    padding: 1.3rem;
  }

  /* CONTENEDOR */
  .contenedor-peliculas{
    padding: 3rem;
    gap: 3rem;
  }
  .pelicula__boton{
    border: 0;
    padding: 1rem 3rem;
    padding: 1.3rem 3rem;
    padding: 1.3rem 3rem;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
  }

  /* AGREGAR */
  .contenedor-agregar--activo{
    padding: 3rem 3rem 4rem;
    width: 380px;
    height: 470px;
  }

  .agregar__titulo{
    font-size: 3rem;
  }

  .agregar__input[type=submit]{
    padding: 1.5rem;
  }
  /* EDITAR */


  .editar__titulo{
    font-size: 3rem;
    font-weight: 600;
  }

  .contenedor-editar{
    background: var(--primario);
    position: fixed;
    padding: 2.5rem 3rem 3rem;
    padding: 3rem 3rem 4rem;
    border-radius: 1rem;
  
    --ancho: 450px;
    width: var(--ancho);
    top: calc(50% - 180px);
    left: calc(50% - calc(var(--ancho) / 2));
  
    height: max-content;

    /* background: red; */
  }

  /* FOOTER */
  .footer{
    padding: 4rem 0 5rem;
    padding: 4rem 0 3rem;
  }
}

@media (min-width: 800px) {
  .noResultados__imagen{
    width: 300px;
  }
  .noResultados__titulo{
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 900px) {
  .header{
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.5rem;
  }
  .caja-buscador{
    padding: 0;
    margin: 0;
    width: 500px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
  }
  .caja-buscador form{
    min-width: 500px;
  }
  .caja-buscador input{
    width: 100px;
  }
}


/* PAGIAN DE ERROR - NO HAY RESULTADOS  */
.contenedor__noResultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  /* background: red; */
  height: max-content;
  margin-top: 20px;
}
.noResultados__imagen{
  width: 250px;
}
.noResultados__titulo{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.noResultados__parrafo{
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1.5rem;
}

.contenedor__noResultados.pelicula--seleccionado{
  background-color: transparent;
}