:root{
  --primario: #40587c;
  --secundario: lightblue;
  --terciario: #a2aebf;
  --cuaternario: #d0d3d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%; 
}
ul,
ol {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}
/* HEADER /////////////////////////////////////*/
.header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1rem 1rem 1.5rem;

  background: var(--primario);
  /* background: blue; */
  gap: 1rem;

  /* flex-wrap: wrap; */

  background: linear-gradient( 90deg, #344865, #40587c);
  background: var(--primario);
  background:  #40587c;
  /* background: linear-gradient( -90deg, #344865 30%, transparent, #344865 85% ), url(../src/assets/fondo2.png); */
  /* background-image: url(../src/assets/fondo2.png); */
  background-size: cover;
  background-repeat: no-repeat;
}
.header__logo{
  /* background-color: rgb(225, 53, 53); */
  text-align: center;
  /* text-shadow: 5px 5px 6px #2e3f5a ; */
}
.header__nombre {
  color: white;
  font-size: 2.5rem;
  font-size: 3rem;
  font-weight: 500;
}
/*MAIN////////////////////////////////////////*/
.main{
  flex-grow: 1;
}

/*FOOTER////////////////////////////////////////*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 2.5rem .5rem;
  color: black;
  padding: 2rem 0 4rem;
}
.footer .link {
  font-weight: 500;
}
.footer .link:hover{
  text-decoration: underline;
}
/*////////////////////////////////////////*/
.caja-buscador{
  /* background: var(--primario); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* padding: .5rem 1.5rem 1.5rem; */

  /* background-color: greenyellow; */
  /* width: max-content; */
  min-width: 20rem;
  max-width: 100%;
}







.caja-buscador form{
  border-radius: 1rem;
  display: flex;
  width: 100%;
  max-width: 45rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}
.caja-buscador input{
  flex-grow: 1;
  border-radius: 1rem 0 0 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  min-width: 5rem;
}
.caja-buscador button{
  width: 10rem;
  width: 13rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem;
  background: var(--cuaternario);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.caja-buscador button:hover{
  background: var(--terciario);
}


/* ////////////////////////////////////// */
.contenedor-peliculas{
  /* background-color: green; */
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.icono-jalar{
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  color: #7b9ca8;
  color: #5f7b86;
  font-size: 2rem;
  font-size: 2.3rem;
  cursor: grab;
}

.pelicula{
  background: var(--secundario);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  justify-content: space-between;
  flex-grow: 1;

  box-shadow: 0.1rem 0.2rem 1px rgba(0, 0, 0, 0.1);
  position: relative;

  /* background: linear-gradient(140deg, #add8e6 50%, #99c1cf); */
  /* color: white; */
}

.pelicula--seleccionado{
  background: var(--terciario);
}
.pelicula--invisible{
  opacity: 0;
}

.pelicula__titulo{
  /* background-color: yellow; */
  padding: .5rem 0;
  font-size: 2rem;
  text-align: center;
}
.pelicula__titulo::first-letter{
  text-transform: uppercase;
}
.pelicula__descripcion{
  /* background: violet; */
  text-align: center;
  flex-grow: 1;
}
.pelicula__botones{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 1rem;
}
.pelicula__boton{
  border: 0;
  padding: 0.7rem 2rem;
  border-radius: .5rem;
  transition: 300ms;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  /* background: #40587c;
  color: white; */

  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 0.9rem;
}
.pelicula__boton:hover{
  background: var(--primario);
  color: white;
}

.iconos-pelicula{
  font-size: 2rem;
  color: #40587c;
}

.pelicula__boton:hover .iconos-pelicula{
  font-size: 2rem;
  color: white;
}

/* SECCION AGREGAR ///////////////*/

.contenedor-agregar{
  padding: 1.5rem;
  border-radius: .5rem;
  position: fixed;

  bottom: 1rem;
  right: 1rem;
  transition: 200ms;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--primario);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  /* z-index: 2; */
}
.contenedor-agregar--activo{
  background: var(--primario);
  border-radius: 0;
  border-radius: 1rem;
  padding: 2rem 2rem 3rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
  width: max-content;
  height: 46.5rem;
  width: 30rem;

  padding: 1rem;
  height: 40rem;
  height: max-content;
  padding-top: 3.5rem;
}
.contenedor-agregar i{
  font-size: 2.5rem;
  color: white;
}
.agregar__titulo{
  font-size: 2.5rem;
  /* font-size: 3rem; */
  text-align: center;
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: white;

  display: none;
}
.agregar__formulario{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;

  gap: 1rem;
}

.agregar__input{
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  min-height: 4.5rem;
  width: 100%;

  padding: 0.5rem;
}
.agregar__input[type=submit]{
  margin-top: 1rem;
  background: var(--cuaternario);
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);

  margin-top: 0rem;
}

.agregar__input[type=submit]:hover{
  background: var(--terciario);
}
textarea.agregar__input{
  resize: none;
  height: 130px;
}

.contenedor-agregar .icono-cerrar{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2.5rem;
  transition: 200ms;

  right: 1rem;
  top: 0.5rem;
}
.contenedor-agregar .icono-cerrar:hover{
  color: lightgrey;
}

.contenedor-icono-mas{
  /* background-color: blue; */
  position: relative;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.icono-mas{
  /* background-color: red; */
}



/* SECCION EDITAR */
.contenedor-editar{
  background: var(--primario);
  padding: 2.5rem 1.5rem 3rem;
  border-radius: 1rem;
  position: fixed;

  width: 30rem;
  height: max-content;

  top: calc(50% - 13.5rem);
  left: calc(50% - 15rem);

  transition: 300ms;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);

  padding: 4rem 1rem 1rem;

  transition: 3s;

  animation: crecer 300ms;

  /* background: green; */
}

@keyframes crecer {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}


.editar__titulo{
  font-size: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  /* background-color: violet; */
  text-align: center;
  margin-bottom: 2rem;
  color: white;

  display: none;
}
.editar__fomulario{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  gap: 1rem;
}
.editar__fomulario input,
.editar__fomulario textarea{
  padding: 1.5rem;
  border-radius: .5rem;
  border: none;
  outline: none;

  padding: 0.5rem;
}
.editar__fomulario textarea{
  /* height: 20rem; */
  height: 13rem;
  resize: none;
}

.editar__boton-listo{
  box-shadow: 0rem 0.2rem 0.6rem rgba(0, 0, 0, 0.4);
  background-color: rgb(222, 222, 222);
}
.editar__boton-listo:hover{
  background: #a2aebf;
}

.icono-cerrar-editar{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  transition: 200ms;
  color: white;
}
.icono-cerrar-editar:hover{
  color: lightgrey;
}




/* PAGIAN DE ERROR - NO HAY RESULTADOS  */
.contenedor__noResultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  height: max-content;
  height: calc(100vh - 30rem);
  min-height: 35rem;
}
.noResultados__imagen{
  width: 25rem;
  min-width: 25rem;
  min-height: 25rem;
}
.noResultados__titulo{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.noResultados__parrafo{
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1.5rem;
}

.contenedor__noResultados.pelicula--seleccionado{
  background-color: transparent;
}


@media (min-width: 550px) {
  /* HEADER */
  .header{
    padding: 1rem 3rem 2.5rem;
  }
  .header__nombre {
    font-size: 4rem;
    font-size: 4.5rem;
  }

  /* BUSCADOR */
  .caja-buscador input{
    padding: 1rem 3rem;
  }
  .caja-buscador button{
    padding: 1.3rem;
  }

  /* CONTENEDOR */
  .contenedor-peliculas{
    padding: 3rem;
    gap: 3rem;
  }
  .pelicula__boton{
    border: 0;
    padding: 1rem 3rem;
    padding: 1.3rem 3rem;
    padding: 1.3rem 3rem;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
  }

  /* AGREGAR */

  .agregar__formulario{
    gap: 1.5rem;
  }
  .contenedor-agregar--activo{
    padding: 3rem 3rem 4rem;
    width: 38rem;
    height: 47rem;
    padding: 2rem 2rem 2.5rem;
  }

  .agregar__titulo{
    font-size: 3rem;
  }

  .agregar__input[type=submit]{
    padding: 1.5rem;
  }

  .agregar__titulo{
    display: block;
  }

  textarea.agregar__input{
    resize: none;
    height: 230px;
  }

  .agregar__formulario input,
  .agregar__formulario textarea{
    padding: 1.3rem;
  }

  .contenedor-agregar .icono-cerrar{
    right: 1.5rem;
    top: 1.5rem;
    font-size: 2.5rem;
  }


  /* EDITAR */


  .editar__titulo{
    font-size: 3rem;
    font-weight: 600;
    display: block;
  }

  .contenedor-editar{
    background: var(--primario);
    position: fixed;
    padding: 2.5rem 3rem 3rem;
    padding: 3rem 3rem 4rem;
    border-radius: 1rem;
  
    --ancho: 45rem;
    width: var(--ancho);
    top: calc(50% - 18rem);
    left: calc(50% - calc(var(--ancho) / 2));
  
    height: max-content;

    padding: 2rem;

  }
  .editar__fomulario{
    gap: 2rem;
  }

  .editar__fomulario input{
    padding: 1.5rem;
  }
  .editar__fomulario textarea{
    height: 20rem;
    resize: none;
    padding: 1.5rem;
  }

  .icono-cerrar-editar{
    right: 1.5rem;
    top: 1.5rem;
    font-size: 2.5rem;
  }

  /* FOOTER */
  .footer{
    padding: 4rem 0 5rem;
    padding: 4rem 0 3rem;
  }


  .caja-buscador button{
    width: 12rem;
    padding: 0.5rem;
    gap: 1rem;
  }
}

@media (min-width: 800px) {
  .noResultados__imagen{
    width: 30rem;
    height: 30rem;
  }
  .noResultados__titulo{
    font-size: 2.5rem;
    font-size: 2.3rem;
    margin-top: 1rem;
  }
}

@media (min-width: 900px) {
  .header{
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.5rem;
  }
  .caja-buscador{
    padding: 0;
    margin: 0;
    width: 50rem;
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
  }
  .caja-buscador form{
    min-width: 50rem;
  }
  .caja-buscador input{
    width: 10rem;
  }
}




.nonear{
  display: none;
}